[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
line-bot-sdk = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask = "*"
jupyterlab = "*"
requests = "*"
pandas = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
