[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
line-bot-sdk = "==1.19.0"
python-dotenv = "==0.17.1"
Flask = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.9"
