Flask==2.0.1
  - click [required: >=7.1.2, installed: 8.0.1]
  - itsdangerous [required: >=2.0, installed: 2.0.1]
  - Jinja2 [required: >=3.0, installed: 3.0.1]
    - MarkupSafe [required: >=2.0, installed: 2.0.1]
  - Werkzeug [required: >=2.0, installed: 2.0.1]
line-bot-sdk==1.19.0
  - future [required: Any, installed: 0.18.2]
  - requests [required: >=2.0, installed: 2.25.1]
    - certifi [required: >=2017.4.17, installed: 2021.5.30]
    - chardet [required: >=3.0.2,<5, installed: 4.0.0]
    - idna [required: >=2.5,<3, installed: 2.10]
    - urllib3 [required: >=1.21.1,<1.27, installed: 1.26.5]
python-dotenv==0.17.1
