<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
    <title>好み登録｜ラクメシ</title>
</head>
<body>
    <button id='liffLoginButton'>Login</button>
    <div id='userIdProfileField'></div>
    <form action='/register_favorite' method='POST'>
        <h2>性別</h2>
        <input type='radio' name='sex' value='0'>男性<br>
        <input type='radio' name='sex' value='1'>女性<br>
        <input type='radio' name='sex' value='2'>その他<br>
    
        <h2>年齢</h2>
        <input type='radio' name='age' value='1'>〜10代<br>
        <input type='radio' name='age' value='2'>20代<br>
        <input type='radio' name='age' value='3'>30代<br>
        <input type='radio' name='age' value='4'>40代<br>
        <input type='radio' name='age' value='5'>50代<br>
        <input type='radio' name='age' value='6'>60代〜<br>
    
        <h2>好み</h2>
        <input type='radio' name='genre' value='0'>あっさり・さっぱり系<br>
        <input type='radio' name='genre' value='1'>スパイシー・辛い系<br>
        <input type='radio' name='genre' value='2'>こってり系<br>
        <input type='radio' name='genre' value='3'>甘い系<br>
    
        <h2>予算</h2>
        <input type='radio' name='budget' value='0'>もちろん安さ重視<br>
        <input type='radio' name='budget' value='1'>コスパが大事でしょ<br>
        <input type='radio' name='budget' value='2'>美味しさ重視<br>

        <input type='hidden' name='userid' id='userid' value=''>
        <input type='submit' value='SUBMIT'>
    </form>
    <p id='line'></p>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script type="text/javascript" src='static/js/liffid.js'></script>
    <script type="text/javascript" src='static/js/register.js'></script>
</body>
</html>