<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Thank you｜ラクメシ</title>
</head>
<body>
    <h2>Thank you!</h2>
    <button id='closeWindowButton' type='button'>チャット画面にもどる</button>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script type="text/javascript" src="static/js/thank.js"></script>
</body>
</html>